{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Registro do usuário comprador<h3>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages error">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
       {% endif %}
        {{ form.as_table }}
        <button class="waves-effect waves-light btn-large" type="submit">Registrar</button>
    </form>
</div>
<script>

</script>
{% endblock %}